@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

html,body{
  font-family: 'Montserrat', sans-serif;
}

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.main.logo{
  font-family: 'Montserrat', sans-serif;
}

.dashboard{
  padding-top: 50px;
}