@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

.logo {
  font-family: "Montserrat", sans-serif;
  padding-top: 10;
  font-size: 40;
  text-shadow: 2px 3px 0px #058d86, 3px 5px 2px rgba(0,0,0,0.15);
}

.text-centered{
  margin: 0 auto;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 64px;
  transform: translateY(500%);
}